#footer {
    color:          map-get($colors, light);
    font-size:      map-get($font-size, medium);
    text-align:     center;
    margin-top:     70px;
    margin-bottom:  1rem;
    height:         45px;
}
